<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD984GGlxIZxMQZuq8foyDZQk7YtDMiGvA</string>
	<key>GCM_SENDER_ID</key>
	<string>96268156069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.subsai.SubsAI</string>
	<key>PROJECT_ID</key>
	<string>subsai-af4b2</string>
	<key>STORAGE_BUCKET</key>
	<string>subsai-af4b2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96268156069:ios:21ca0f380e434ce209214c</string>
</dict>
</plist>